footer {
  padding: 12.8rem 0;
  border-top: 2px solid #ddd;
}


.footer-container {
display: grid; 
grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
gap:2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.social-icon,
.address-link,
.footer-nav li a:link,
.footer-nav li a:visited {
text-decoration: none;
font-size: 1.6rem;
color:#767676;
transform: all 0.35s ease-in;
}
.social-icon:hover,
.address-link:hover,
.footer-nav li a:hover,
.footer-nav li a:active {
color:#555;
}

.social-links{
list-style: none;
display: flex;
gap: 2.4em;
/* margin-block: 1.6rem; */
}
.social-icon {

  height: 2.4rem;
  width: 2.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.6rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.copyright {
  font-size: 1.4rem;
  color:#767676;
  line-height: 1.8;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p:first-child{
  margin-bottom: 2.4rem;
}