.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 6.4rem;
}

.logo {
  height: 2rem;
}

  /* ==================== Responsive Design =========================== */
/* **************************************/
/* BELOW 1200px (Landscape Tablets)
/***************************************/
@media screen and (max-width:75em) {
.header {
  padding: 0 3.2rem;
}
}