.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  /* object-fit: cover; */
  display: block;
  width: 100%;
  transition: all 0.4s ease-in;
}
.gallery-item img:hover {
  transform: scale(1.2);
}
