.pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  background-color: #fdf2e9;
  border-radius:11px;
  padding:4.8rem;
  width:75%;
 
}
.pricing-plan:first-child{
  justify-self: flex-end;
  background-color: transparent;
  border: 5px solid #fdf2e9;
  padding:4.3rem;
}
.pricing-plan:last-child {
 position: relative;
 overflow: hidden;
}
.pricing-plan:last-child::after{
  content:'Best value';
  position: absolute;
  top:6%;
  right:-18%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  background-color:#ffd43b ;
  padding:1rem 8rem;
  color:#333;

  transform: rotate(45deg);
}
.pricing-plan header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-detail{
  font-size: 1.6rem;line-height: 1.6;
  text-align: center;
  margin-top: 9.6rem;
}
.featured-grid {
  gap:6.4rem
}

/* ==================== Responsive Design =========================== */
/* **************************************/
/* BELOW 960px (Tablets)
/***************************************/
@media screen and (max-width:60em) {
  .pricing-plan {
    padding:3.6rem;
  }
  .pricing-plan:first-child{
    border: 3px solid #fdf2e9;
    padding:3.3rem;
  }
  .pricing-plan:last-child::after{
    top:7%;
    right:-22%;
  }

}